.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        i.fa.fa-cube
        | Lepton
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=locals.active=='someView'?'active':undefined)
          a(href='#someView') Some View
      ul.nav.navbar-nav.navbar-right
        li.current-file-header.col-md-4
          .current-file-housing Current File
            .current-file-text unknown

